body{
    font-size: 14px;
}
.container, header, section, article{
    border: 1px solid gray;
    margin: 5px;
    padding: 8px;
}
.container{
    margin: 20px 200px;
    background-color: lightskyblue
}
h1{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
    display: block;
}
main{
    display: flex;
}
section{
    flex: 20%;
}
h2{
    text-align: center;
}
section a:hover{
    text-decoration: underline;
    color: blue;
}
article{
    width: 80%;
}
img{
    float: left;
    width: 30%;
    margin-right: 10px;
}
.images{
    display: flex;
    justify-content: space-between;
}